*{
	margin: 0;
	font-family: 'Poppins', sans-serif;
	padding: 0;
}

.header{
	min-height: 80vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative; 
	background: url(./Images/page-background.jpg);
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
	background-size: 100%;
	background-color: black;
} 

nav{
	display: flex;
	padding: 0% 6%;
	justify-content: space-between;
	align-items: center; 
	
}

nav img{
	width: 150px;
}

.navlinks{
	flex: 1;
	text-align: right;
} 

.navlinks ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative; 
} 

.navlinks ul a{
	color: black;
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
} 

.navlinks ul li::after{
	content: '';
	width: 0%;
	height: 10px;
	background: rgb(0, 0, 0);
	display: block;
	margin: auto;
	transition: 0.5s;
}

.navlinks ul li:hover::after{
	width: 100%;

}

.textbox{
	width: 90%;
	position: absolute;
	color:white;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.textbox h1{
	font-size: 62px;
}

.textbox p{
	color: black;
	margin: 10px 0 40px;
	font-size: 20px;

}

.hero{
	background-color: white;
	display: inline-block;
	text-decoration: none;
	color: black;
	border: 0px solid transparent;
	padding: 25px 34px;
	font-size: 15px; 
	margin-top: 70px;
	position: relative;
	cursor: pointer;
	box-shadow:inset 0 0 0 0 black;
	transition: ease-out 1s;
}

.hero:hover{
	padding: 30px 40px;
	color: white;
	font-size: 20px;
	box-shadow: inset  1000px 0 0 0 black;
}

nav .fa{
	display: none;
}

@media (max-width:700px) {
	.textbox h1{
		font-size: 30px;
	}
	.navlinks ul li{
		display: block;
	}
	.navlinks{
		position: absolute;
		height: 100vh;
		width:200px;
		top: 0;
		right: -200px;
		background: white;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}

	nav .fa{
		display: block;
		color: white;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}

	.navlinks ul{
		padding: 30px;
	}


}

/* SESSIONS */
.sessions{
		color: white;
		width: 80%;
		margin: auto;
		text-align: center;
		margin-top: 100px;
}

.sessions h1{
	font-size: 36px;
	font-weight: 600;
}

.sessions p{
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
	padding: 10px;
}

.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}


.col{
	flex-basis: 31%;
	background:black;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;

}

.col h3{
	color: white;
	text-align: center;
	font-weight: 600;
}

.col p{
	color: white;
}

.col:hover{
	background-color: black;
	box-shadow: 0 0 30px 0px rgb(253, 253, 253) ;
	color: white;
}

.col p:hover{
	color: white;
}

@media(max-width:700px){
	.row{
		flex-direction: column;
	}
}

/* FACILITIES */
.facilities{
	background-color:rgb(223, 179, 164);
	width: 80%;
	text-align: center;
	padding-top: 100px;
	margin: auto;
}

.facilities h1{
	color: white;
	font-size: 30px;
}

.facility-col{
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: center;
}

.facility-row{
	margin-left: 5%;
	margin-top: 10%;
	display: flex;
}
.facility-col img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 	350px;
	height: 200px;
	border-radius: 10px;

}

/* Media Query */
@media (max-width:700px) {
	.facility-col img{
		width: 	100%;
		border-radius: 10px;
	
	}

	.facility-row{
		display: contents;
	}


}


/* TESTIOMONIALS */
.testimonials{
	width: 80%;
	margin: auto;
	padding-top: 100px;
	text-align: center;
}


.testifier{
	flex-basis: 44%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	background: white;
	padding: 25px;
	cursor: pointer;
	display: flex;

}

.testifier img{
	height: 100px;
	margin-left: 5px;
	margin-right: 30px;
	border-radius: 50%;
	padding: 25px;
	cursor: pointer;
}

.testifier p{
	padding: 0;
}

.testifier h3{
	margin-top: 15px;
	text-align: left;
}

.testifier fa{
	color: gold;
}

@media(max-width:700px){
	.testifier img{
		height: 40px;
		margin-left: 0;
		margin-right: 15px;
		border-radius: 50%;
		padding: 25px;
		cursor: pointer;
	}
}

/* CONTACT US */
.contact{
	width: 100%;
	margin: 100px auto;
	background-image: linear-gradient(white,black);
	color: white;
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;

}

.contact h1{
	color: white;
	margin: 40px;
	padding: 0;
}
@media(max-width:700px){
	.contact h1{
		font-size: 24px;
	}
}

.socials{
	cursor: pointer;
	color: white;
	margin: 0 30px;
	padding: 18px 0;

}

/* FOOTER */
.footer{
	color: white;
	width: 100%;
	text-align: center;
	padding: 30px 0;

}

.footer h4{
	margin-bottom: 25px;
	margin-left: 20px;
	font-weight: 600;
}


/* ABOUT US PAGE */
.sub-header{
	background-color: white;
	min-height: 60vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative; 
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-content{
	color: white;
	width: 80%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 50px;
}

.about-col{
	flex-basis: 48%;
	padding: 30px 2px;
}
.about-col h1{
	text-align: center;
	padding: 0;
}
.about-col p{
	padding: 15px 0 25px;
}
.about-hero{
	background-color: rgb(255, 255, 0);
	display: inline-block;
	text-decoration: none;
	color: black;
	border: 0px solid transparent;
	padding: 25px 80px;
	font-size: 15px; 
	margin-top: 70px;
	margin-left: 15%;
	position: relative;
	cursor: pointer;
	box-shadow:inset 0 0 0 0 rgb(243, 243, 243);
	transition: ease-out 0.5s;
}

.about-hero:hover{
	color: rgb(0, 0, 0);
	box-shadow: inset  1000px 0 0 0 rgb(255, 255, 255);
}
.about-content img{
	margin-top: 50px;
	width: 100%;
	border-radius: 100px;

}

.about-footer{
		background-color: white;
		color: black;
		width: 100%;
		text-align: center;
		padding: 30px 0;
	
}
